$color-light: rgb(255, 255, 255);
$color-darker: rgb(235, 233, 233);
$color-dark: #2e497a;
$color-text: #575757;

$color-bg-white: rgb(255, 255, 255);
$color-bg-light: rgb(247, 247, 247);
$color-bg-darker: rgb(240, 243, 248);
$color-bg-dark: rgb(223, 223, 223);

$font-text: 'Poppins', sans-serif;

$base-size: 12px;
$transition: all 0.5s linear;
