@import '../styles/settings.scss';

.list_table {
  margin: ($base-size * 3);
  text-align: left;
  border-collapse: collapse;

  &__head {
    background: $color-bg-light;
    font-weight: 400;
    border: 1px solid $color-darker;
  }

  &__body {
    background: $color-bg-white;
    border: 1px solid $color-darker;
  }
}

tr {
  height: ($base-size * 4.5);
  border-bottom: 1px solid $color-darker;

  &:hover {
    cursor: pointer;
  }
}

th {
  padding-left: ($base-size * 6.7);
  font-weight: 500;

  &:nth-of-type(1) {
    width: 30%;
  }

  &:last-of-type {
    border-left: 1px solid $color-darker;
  }
}
