@import '../styles/settings.scss';

table {
  margin: ($base-size * 2) auto;

  width: 95%;
  text-align: left;
  border-collapse: collapse;

  thead {
    background: $color-bg-light;
    font-weight: 400;
    line-height: ($base-size * 4.5);
    border: 0.5px solid $color-darker;
  }

  tbody {
    background: $color-bg-white;
    border: 0.5px solid $color-darker;
  }
}
