@import '../styles/settings.scss';

table {
  margin: ($base-size * 2) auto;

  width: 95%;
  text-align: left;
  border-collapse: collapse;

  thead {
    background: $color-bg-light;
    font-weight: 400;
    line-height: ($base-size * 4.5);
    border: 0.5px solid $color-darker;
  }

  tbody {
    background: $color-bg-white;
    border: 0.5px solid $color-darker;
  }
}

.avatar {
  padding: ($base-size * 0.8);
  height: ($base-size * 4.5);
  width: ($base-size * 4.5);
  // border-radius: 50%;

  img {
    height: 100%;
    width: 100%;
  }
}
