@import '../styles/settings.scss';

.pagination {
  margin: ($base-size * 3);
  margin-top: 0;
  height: ($base-size * 6);
  background: $color-bg-white;
  border: $border-style;
  border-radius: 0 0 $border-radius $border-radius;
  position: relative;

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
  }
}

li {
  display: inline;
  margin: ($base-size * 0.5);
  padding: ($base-size * 0.7);

  background-color: $color-bg-white;
  border: $border-style;
  font-size: ($base-size);
  border-radius: $border-radius;

  &:hover {
    border: 0.5px solid $color-pagination;
    color: $color-pagination;
    background-color: $color-bg-white;
  }
}

li.active {
  background-color: $color-pagination;

  a {
    color: $color-bg-white;
  }
}

li > a {
  text-decoration: none;
  color: $color-text;

  &:hover {
    color: $color-pagination;
  }
}
