@import '../styles/settings.scss';

.upperMenuBar {
  grid-area: upper;

  display: flex;
  align-items: center;

  background-color: $color-bg-white;
  width: 100vw;
  border-bottom: 0.5px solid $color-darker;
}
